{{- $ctl := .control -}} {{- $showLocation := .loc -}} {{- $share := .share -}}
<!doctype html>
<html>

<head>
  <title>{{ .title }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/list.css" />
</head>

<body>
  <div class="table ver3 m-b-110">
    <div class="table-head">
      <table>
        <thead>
          <tr>
            <th class="column1">Window ID</th>
            <th class="column4">Name</th>
            <th class="column5">IP</th>
            {{- if $showLocation }}
            <th class="column6">Location</th>
            {{- end }}
            <th class="column7">Status</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="table-body">
      <table>
        <tbody>
          {{ range $i, $e := .containers }}
          <tr {{ if (eq (mod $i 2) 1) -}}class="t c ver2"{{- end }}>
            <td class="column1" title="exec into container">
              <a href="/e/{{ printf "%.12s" .ID }}" value="{{ .ID }}" target="_blank">{{ printf "%.12s" .ID }}</a>
            </td>
            <td class="column4" title="{{ .Name }}">
              {{ printf .Name }}
            </td>
            <td class="column5" title="{{ .IPs }}">{{ index .IPs 0 }}</td>
            {{- if $showLocation -}}
            <td class="column6" title="{{ .LocServer }}">{{ printf .LocServer }}</td>
            {{- end -}}
            <td class="column7" title="{{ .State }}">{{ .Status }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>

  <script src="/js/control.js"></script>
</body>

</html>
